---
Name: snapshot-extensions
After:
  - silverstripe/versioned
---
SilverStripe\Core\Injector\Injector:
  SilverStripe\Versioned\RecursivePublishable:
    class: SilverStripe\Snapshots\SnapshotPublishable
SilverStripe\Versioned\ChangeSetItem:
  extensions:
    - SilverStripe\Snapshots\SnapshotChangeSetItem
SilverStripe\ORM\DataObject:
  extensions:
    - SilverStripe\Snapshots\SnapshotExtension
---
Name: snapshot-migration
---
SilverStripe\Core\Injector\Injector:
  SilverStripe\Snapshots\Migration\Task:
    constructor:
      migrator: '%$SilverStripe\Snapshots\Migration\MigrationService'
---
Name: snapshot-queuedjob
Only:
  moduleexists: symbiote/silverstripe-queuedjobs
---
SilverStripe\Core\Injector\Injector:
  SilverStripe\Snapshots\Migration\Job:
    properties:
      migrator: '%$SilverStripe\Snapshots\Migration\MigrationService'
---
Only:
  moduleexists: 'silverstripe/cms'
---
SilverStripe\CMS\Model\SiteTree:
  extensions:
    - SilverStripe\Snapshots\SnapshotSiteTree
---
Name: snapshot-events
---
SilverStripe\Core\Injector\Injector:
  SilverStripe\EventDispatcher\Dispatch\Dispatcher:
    properties:
      handlers:
        formGeneric:
          on:
            - 'formSubmitted.doDelete'
            - 'formSubmitted.archive'
            - 'formSubmitted.doArchive'
          handler: '%$SilverStripe\Snapshots\Handler\Form\Handler'
        unpublish:
          on:
            - 'formSubmitted.unpublish'
            - 'formSubmitted.doUnpublish'
          handler: '%$SilverStripe\Snapshots\Handler\Form\UnpublishHandler'
        save:
          on: [ 'formSubmitted.save', 'formSubmitted.doSave' ]
          handler: '%$SilverStripe\Snapshots\Handler\Form\SaveHandler'
        publish:
          on: [ 'formSubmitted.publish', 'formSubmitted.doPublish' ]
          handler: '%$SilverStripe\Snapshots\Handler\Form\PublishHandler'
        cmsMain:
          on: [ 'cmsAction.savetreenode' ]
          handler: '%$SilverStripe\Snapshots\Handler\CMSMain\Handler'
        gridFieldAlteration:
          on: [ 'gridFieldAlteration.deleterecord', 'gridFieldAlteration.archiverecord' ]
          handler: '%$SilverStripe\Snapshots\Handler\GridField\Alteration\Handler'
        gridFieldAction:
          on: [ ]
          handler: '%$SilverStripe\Snapshots\Handler\GridField\Action\Handler'
        graphqlMutation:
          on: [ 'graphqlOperation' ]
          handler: '%$SilverStripe\Snapshots\Handler\GraphQL\Middleware\RollbackHandler'
---
Name: snapshots-gridfield
Only:
  moduleexists: symbiote/silverstripe-gridfieldextensions
---
SilverStripe\Core\Injector\Injector:
  SilverStripe\EventDispatcher\Dispatch\Dispatcher:
    properties:
      handlers:
        reorder:
          on: [ 'gridFieldAction.handleReorder' ]
          handler: '%$SilverStripe\Snapshots\Handler\GridField\Action\ReorderHandler'

---
Name: snapshots-populate
Only:
  moduleexists: dnadesign/silverstripe-populate
---
DNADesign\Populate\Populate:
  truncate_objects:
    - SilverStripe\Snapshots\Snapshot
    - SilverStripe\Snapshots\SnapshotItem
    - SilverStripe\Snapshots\SnapshotEvent
